absl-py==1.3.0
amqp==5.1.1
anndata==0.8.0
ansi2html==1.8.0
astunparse==1.6.3
async-timeout==4.0.2
billiard==3.6.4.0
blinker==1.6.2
Brotli==1.0.9
cachelib==0.9.0
cachetools==5.2.0
celery==5.2.7
certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmake==3.26.4
cycler==0.11.0
dash==2.11.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==2.0.0
dash-table==5.0.0
filelock==3.12.2
Flask==2.2.5
Flask-Caching==2.0.1
Flask-Compress==1.12
flatbuffers==23.5.26
fonttools==4.37.1
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h5py==3.7.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
keras==2.13.1
kiwisolver==1.4.4
kombu==5.2.4
libclang==14.0.6
lit==16.0.6
llvmlite==0.39.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mpmath==1.3.0
natsort==8.2.0
nest-asyncio==1.5.6
networkx==2.8.7
numba==0.56.2
numpy==1.23.2
oauthlib==3.2.2
opt-einsum==3.3.0
orjson==3.8.0
packaging==21.3
pandas==1.4.4
pathvalidate==2.5.2
patsy==0.5.3
Pillow==9.2.0
plotly==5.10.0
prompt-toolkit==3.0.36
protobuf==4.23.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pynndescent==0.5.7
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
redis==4.4.2
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
scanpy==1.9.1
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
session-info==1.0.0
six==1.16.0
statsmodels==0.13.2
stdlib-list==0.8.0
sympy==1.12
tenacity==8.0.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
threadpoolctl==3.1.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tqdm==4.64.1
triton==2.0.0
typing_extensions==4.4.0
umap-learn==0.5.3
unioncom==0.4.0
urllib3==1.26.13
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.2.3
wrapt==1.14.1
