/* UW colors from https://brand.wisc.edu/web/colors/  */
:root, [data-theme="default"] {
  --color-primary: #c5050c;
  --color-accent: #9b0000;
  --color-bg: #f7f7f7;
  --color-bg-accent: #dadfe1;
  --color-body-font: #494949;
  --color-anchor: #0479a8;
  --color-anchor-hover: #03678f;
  --color-footer-bg: #282728;
  --color-footer: #adadad;

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[data-theme] {
  background-color: var(--color-bg);
  color: var(--color-primary);
}
[data-theme="dark"] {
  --color-body-font: #adadad;
  --color-bg: #282728;
}


/*
html, body {
  height: 100%;
}
*/
body{
  background-color: var(--color-bg);
  font-size: 10pt;
  font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

  margin: 0;
}

#id_topbar {
  color: var(--color-bg);
  background-color: var(--color-primary);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#id_topbar a {
  color: inherit; /*var(--color-anchor);*/
  text-decoration: none;
  cursor: pointer;
}
#id_topbar a:hover {
  color: inherit; /* var(--color-anchor-hover);*/
}

#id_titlebar {
  padding: 0 10px;
}

#id_header {
  color: var(--color-primary); /*var(--color-bg);*/
  background-color: var(--color-bg);  /*var(--color-primary);*/
  border-bottom: 2px solid var(--color-primary);
  padding: 0; /* 10px 10px;*/

}

#id_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-footer);
  background-color: var(--color-footer-bg);
  box-shadow: 0 50vh 0 50vh var(--color-footer-bg);
  border-top: 2px solid var(--color-accent);
}

#id_footer a {
  color: var(--color-footer);
  text-decoration: none;
}
#id_footer a:hover {
  color: var(--color-bg);
}

.uw-logo a svg {
  width: 200px;
  height: 150px;
  min-width: 175px;
  fill: var(--color-footer);
  color: var(--color-footer);
}
.uw-logo a:hover svg {
    fill: var(--color-bg);
    color: var(--color-bg);
}

.hidden {
  display: none;
}

a {
  color: var(--color-anchor);
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: var(--color-anchor-hover);
}

button, input[type='button'] {
  background-color: var(--color-anchor);
  color: var(--color-bg);
  border: 2px solid var(--color-anchor);
}
button:hover, input[type='button']:hover {
  background-color: var(--color-bg);
  color: var(--color-anchor);
}

label, legend {
  display: block;
}

.custom-tab-selected {
  border-bottom: none;
  border-top: 2px solid var(--color-accent) !important;
}

.rc-slider-rail {
  background-color: var(--color-bg-accent);
}

.rc-slider-track {
  background-color: var(--color-accent);
}

.rc-slider-dot {
  border-color: var(--color-bg-accent);
}
.rc-slider-dot-active {
  border-color: var(--color-accent);
}

.rc-slider-handle {
  border-color: var(--color-accent) !important;
}
.rc-slider-handle:hover {
  border-color: var(--color-primary) !important;
}
.rc-slider-mark-text{
  color: var(--color-body-font);
}
.rc-slider-mark-text-active {
  color: var(--color-body-font);
}
.upload-button {
  width: 60%;
  height: 10px;
  line-height: 15px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  display: inline-block;
}

#main-block {
  display: flex;
}

#left-panel {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--color-bg-accent);
  background-color: var(--color-bg);
  /*box-shadow: 10px 10px 3px lightgray;*/
}

#right-panel {
  flex: 3;
}

#data-block, #alignment-block, #clustering-block, #controls-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.tab-parent, .tab-content {
  height: 100%;
}

.tab-image {
  width: 100%;
}

table.table-csv {
  border: 1px solid black;
  color: var(--color-body-font) !important;
  background: var(--color-bg) !important;
  text-align: center;
  border-collapse: collapse;
}

table.table-csv td {
  border: 1px solid var(--color-body-font);
}


#about-page {
  width: 90%;
  max-width: 1000px;
}

.custom-tab-selected, .custom-tab {
  white-space: pre-line;
}

#list-steps > li::marker {
  content: "Step " counter(list-item) ". ";
  font-weight: bold;
}

#graph_legend {
  width: 1000px;
}

.operations-button {
  width: 100%;
  height: 34px;
  margin: 2px;
}


/*
.block-title {
  position: relative;
  margin: 0;
  margin-bottom: -15px;
  top: -15px;
  left: 5px;
  width: fit-content;
  padding: 5px;
  background-color: white;
}
#data-block, #operations-block, #controls-block {
  margin-top: 15px;
  border: 1px solid gray;
  padding: 0 10px 10px 10px;
}


#operations-block div {
  display: inline-block;
}

.upload-block {
  margin-top: 5px;
}
*/
.component_input {
  width: 50px;
}

/*.upload-block div {*/
/*  display: inline-block;*/
/*  width: fit-content;*/
/*}*/

.upload {
  display: inline-block;
  width: fit-content;  /* prevent capture of clicks outside button */
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}


#loading-output-1, #loading-output-2 {
  color: var(--color-primary);
}

.status_message {
  color: var(--color-primary);
}

#progress_container {
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  z-index: 1000;
  /*-webkit-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%);
}

/* icons */
i {
  padding-left: 1em;
  color: var(--color-accent);
}

/* bootstrap alert */


.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}


.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-warning .alert-link {
  color: #523e02;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}

/* bootstrap tooltip */

.tooltip {
  position: absolute;
  z-index: 1080;
  display: block;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
.tooltip.show {
  opacity: 0.9;
}
.tooltip .tooltip-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}
.tooltip .tooltip-arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[data-popper-placement^=top] {
  padding: 0.4rem 0;
}
.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
  bottom: 0;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  top: -1px;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
}

.bs-tooltip-end, .bs-tooltip-auto[data-popper-placement^=right] {
  padding: 0 0.4rem;
}
.bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  right: -1px;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[data-popper-placement^=bottom] {
  padding: 0.4rem 0;
}
.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
  top: 0;
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000;
}

.bs-tooltip-start, .bs-tooltip-auto[data-popper-placement^=left] {
  padding: 0 0.4rem;
}
.bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: left;
  background-color: #000;
  border-radius: 0.25rem;
}
